In [ ]:
tabla=int(input('Que tabla de multiplicar desea consultar: '))
i=1
for i in range(1,11):
  resultado=tabla*i
  print(tabla, 'x', i, '=', resultado)

Que tabla de multiplicar desea consultar: 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [ ]:
j=8

A1=['H','O','L','A','M','U','N','D','O']

for i in range(0,5):

  v1=A1[j]
  A1[j]=A1[i]
  A1[i]=v1
  j=j-1
print(A1)

['O', 'D', 'N', 'U', 'M', 'A', 'L', 'O', 'H']